/* Tus estilos personalizados */
body {
  background-color: #1b6fc4;
}

h1 {
  color: #007bff;
  text-align: center;
}

.btn-custom {
  background-color: #6f42c1;
  color: white;
  border-radius: 8px;
}

.btn-custom:hover {
  background-color: #563d7c;
}
